.header__quest-name, .header__author, .header__stages{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

h2{
    font-weight: bold;
    font-size: 24px;
}

.status{
    background-color: #F15A24;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    padding: 6px 7px;
    width: 50px;
    height: 20px;
}

.header__author> p{
    color: #B5B5B5;
}
figure{
    margin-top: 10px;
}
section img{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 25px;
}
figcaption{
    max-height: 500px;
    overflow-x: hidden;
    position: relative;
}
figcaption div{
    background: linear-gradient(0deg, white, transparent);
    width: 100%;
    position: absolute;
    height: 150px;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    left: 0;
}
figcaption button{
    border: none;
    background: transparent;
}
.fa-angle-down{
    font-size: 2rem;
}