
.info-user_left>img{
    width: 30vw;
    height: 100%;
}
.info-user{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.info-user_left{
    margin-right: 8rem;
}

.fa-pencil-alt{
    color: #E76868; 
    margin-left: 0.5rem;
}

.info-user_right__data__name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    
}

.info-user_right h2{
    font-size: 1.5rem;
    font-weight: bold;
   
}
.info-user_right__data>p{
    margin-bottom: 0.5rem;
}



.info-user_right h3{
    font-size: 0.9rem;
    font-weight: bold;
}

.awards{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    align-items: center;
}

.awards div{
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 5%;
    margin-right: 1rem;

}

.fa-angle-right{
    font-size: 2.5rem;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.header>h3{
    font-size: 1.3rem;
}

.header>p{
    color: grey;
    font-weight: bold;
}

.cards_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.listNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.125em 0 2.3em 0;
}
.listNumber ul{
    display: flex;
    flex-wrap: nowrap;
}
 .listNumber a{
    color: black;
    margin: 0.1em;
}

@media  all and (max-width: 1024px){
    .header{
        flex-direction: column;
    }

}

@media  all and (max-width: 798px){
    .info-user_left>img{
        width: 50vw;
        height: 100%;
    }
    .info-user_left{
        margin-right: 0;
    }

    .info-user{
        flex-direction: column;
    }
}

@media  all and (max-width: 375px){
    .info-user_left>img{
        width: 100vw;
        height: 100%;
    }

    .block, .info-user{
        padding: 0;
    }
}

