/* main > .infoUser{
    width: 90rem;
} */


.info-user_left>img{
    width: 100%;
    height: 30vh;
}
.info-User{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.info-user_left{
    margin-right: 20rem;
}

.fa-pencil-alt{
    color: #E76868; 
    margin-left: 0.5rem;
}

.leftAboutUser>li>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    
}

.leftAboutUser h2{
    font-size: 1.5rem;
    font-weight: bold;
   
}
.leftAboutUser>li>p{
    margin-bottom: 0.5rem;
}

.leftAboutUser>li:last-child{
    display: flex;
    flex-direction: column;
    margin-top: 5.2vh;
}

.leftAboutUser h3{
    font-size: 0.9rem;
    font-weight: bold;
}

.awards{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    align-items: center;
}

.awards div{
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 5%;
    margin-right: 1rem;

}

.fa-angle-right{
    font-size: 2.5rem;
}

.aboutUser>li:last-child>div{
    width: 12rem;
    height: 14rem;
    background: gray;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.header>h3{
    font-size: 1.3rem;
}

.header>p{
    color: grey;
    font-weight: bold;
}

.cards_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.listNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.125em 0 2.3em 0;
}
.listNumber ul{
    display: flex;
    flex-wrap: nowrap;
}
 .listNumber a{
    color: black;
    margin: 0.1em;
}
/* 
.infoUser{
    flex-wrap: wrap;
} */

@media  all and (max-width: 1024px){
    .header{
        flex-direction: column;
    }

    .info-user_left{
        margin-right: 10rem;
    }
 }

