*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.block{
    display: block;
}

ul{
    list-style: none;
}

ol{
    margin-left: 2vh;
    font-size: 18px;
}

a:link, a:visited {
    color: rgb(0, 0, 0); 
    text-decoration: none;
  }

a:hover,  a:active {
    color: #cc8110; 
    text-decoration: none;
  }

header{
    display: flex;
    background-color: white;
    padding: 1rem 15rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    flex-wrap: wrap;
}

header > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header > ul >li{
    padding-left: 5rem;
}

header > ul >li>a{
    text-decoration: none;

}


header> a > img{
    width: 8vw;
    height: 9vh;
}

footer{
    display: flex;
    color: white;
    background-color: #000;
    padding: 1rem 15rem;
    flex-direction: column;
}

footer > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.footer__social-container{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.footer__social-container>li:nth-child(1){
    margin-right: 10px;
}

.footer__info-container>li:nth-child(1){
    padding-bottom: 10px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first{
    background-image: url(../img/firstScreenBg.png);
    width: 100%;
    padding: 0;
    height: 34rem;
}

.main__cards{
    width: 18rem;
    height: 18rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    margin: 1rem;
}

.main__cards>h3{
    font-size: 24px;
    margin: 1rem 0;
}

.main__cards>ul{
    display: flex;
    flex-direction: column;
}

.main__cards>ul>li:nth-child(2){
    margin-top: 3rem;
}

.main__cards>ul>li:nth-child(2)>ul{
    display: flex;
    justify-content: space-between;
}

.gray{
    color: gray;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

section{
    padding: 2rem 14rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

section>p{
    margin: 1rem 0;
}

h2{
    text-align: center;
}

.first>h1{
    font-size: 10rem;
    color: white;
}

.advantages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.advantages > div {
   max-width: 28%;
}

.advantages > div > h3 {
   margin-bottom: 5px;
}

.advantages > div > img {
   margin-bottom: 10px;
}

.advantages > div > ol {
   text-align: left;
}

@media  all and (max-width: 1024px){
    header, footer{
        padding: 1rem 4rem;
        flex-direction: column;
    }

    header > ul{
        flex-direction: column;
    }

    header > ul >li{
        padding-left: 0;
        padding-bottom: 1rem;
    }

    header> a > img{
        width: 20vw;
        height: 12vh;
        margin-bottom: 1rem;
    }

    .none{
        display: none;
    }

    .footer__social-container{
        justify-content: unset;
    }

    .first>h1{
        font-size: 5rem;
        color: white;
        text-align: center;
    }
    section{
        padding: 2rem 1rem;
    }

    .cards{
        padding: 2rem 0;
    }
}