h1{
    margin-bottom: 1rem;
}
main{
    padding: 2rem 15rem;
    flex-direction: column;
    display: flex;
    align-items: normal;
    text-align: left;
}

p{
    margin: 1rem 0;
}
main>img{
    width: 58vw;
}

@media  all and (max-width: 1024px){
    main{
        padding: 2rem 1rem;
    }

    main>img{
        width: 92vw;
    }

    header > img{
        width: 20vw;
        height: 12vh;
        margin-bottom: 1rem;
    }

}